<div class="about-header">
	<div class="about-header__layout">
		<div class="about-header__cover">
			<div class="about-header__cover-layout">
				<img class="about-header__cover-img" src="/img/4b5967f1abc639d8efe44767ff77adee.png" />
			</div>
		</div>
		<div class="about-header__content">
		<div class="about-header__content-title">About</div>
		<div class="about-header__content-subtitle">
			<div class="about-header__content-me">me</div>
			<div class="about-header__content-desc">Hi, I’m Viktor Petukhov, PhD, AI consultant and an independent researcher. I’m a digital nomad and currently live in Tbilisi after staying for several years in the US, Denmark and Switzerland. I have a background in Applied Maths and Informatics, and I’m looking for ways to apply it to make the world a better place.</div>
		</div>
		<div class="about-header__content-social">
			{% include "social.njk" %}
		</div>
		</div>
		<div class="about-header__stain about-header__stain--1"></div>
		<div class="about-header__stain about-header__stain--2"></div>
	</div>
</div>