<div class="collab-types">
	<div class="collab-types__layout">
		<ul class="collab-types__list">
			<li class="collab-type">
				<div class="collab-type__title">Enhancing research by NLP tools</div>
				<div class="collab-type__desc">My current research interests are about enhancing human research capabilities with AI, data analysis and tech in general. At the moment I’m looking into various ways to use NLP to simplify working with existing literature, such as search, summarization and automated reasoning (broadly, the agenda is inspired by AllenAI and Ought)</div>
			</li>
			<li class="collab-type">
				<div class="collab-type__title">AI Safety</div>
				<div class="collab-type__desc">I am also quite interested in AI Safety, explainability of neural networks and formal guarantees on machine learning algorithms. I havea vast experience of working with graphs, including Graph Signal Processing, which I’d be interested to apply to studying neural networks, particularly using the framework of Complexity Theory.</div>
			</li>
			<li class="collab-type">
				<div class="collab-type__title">AI + politics</div>
				<div class="collab-type__desc">Expanding on the idea of enhancing the human capabilities, one especially interesting application is policy-making and political research. Data science is uniquely suited for contributing towards evidence based policy-making, as well as providing trustworthy information for general audience. Here I’m  particularly excited about work of Our World in Data and bellingcat. So, I’m looking for ways to apply data scrapping and NLP to find insights on pressing political and social issues.</div>
			</li>
		</ul>
	</div>
</div>