<div class="fun-facts">
	<div class="fun-facts__layout">
		<div class="fun-facts__header">

			<div class="fun-facts__cover">
				<img class="fun-facts__cover-img" src="/img/0d4d5b1ca0879cd446d88f4152ece956.png" />
				<div class="fun-facts__title fun-facts__title--first"><span>fun</span></div>
				<div class="fun-facts__title fun-facts__title--last"><span>facts</span></div>
			</div>

		</div>
		<div class="fun-facts__body">
			<ul class="fun-facts__list">
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>During my undergrad year I wanted to become a game developer. My first full position was developing games for vk.com, and it took me exactly one month to realise I don’t want to do anything with it in my life.</p>
					</div>
				</li>
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>For several years I taught AI and bioinformatics for high school students in Russia.</p>
						<p><a href="https://goto.msk.ru/" target="_blank">goto.msk.ru</a></p>
						</div>
				</li>
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>I gave a webinar on using Data Science for policy making and open governance for the Moscow Metropolitan Governance University.</p>
						</div>
				</li>
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>I semi-professionally practised Judo and Sambo before science took me away. Now I am dancing Lindy-Hop instead.</p>
						</div>
				</li>
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>I 've seen all of Jason Statham's movies with an IMDB rating >5.0. Though in hindsight, I should have stopped at 6.0.</p>
						</div>
				</li>
				<li class="fun-facts__list-item fun-fact">
					<div class="fun-fact__layout">
						<p>My favourite branches of science are Spectral Graph Theory + Graph Signal processing and Complexity Theory. I even gave an intro lecture on the former.</p>
						</div>
				</li>
			</ul>
		</div>
	</div>
</div>