<div class="help section">
	<div class="help__layout">
		<div class="help__stain help__stain--top"></div>

		<div class="help__header section__header">
			<h2 class="help__title section__title">What can i help with</h2>
			<div class="help__desc section__desc">Adding AI to your organization: evaluating your ideas, building a prototype and getting funding</div>
		</div>

		<div class="help__body">

			{% include "skills-accordion.njk" %}

		</div>

	</div>
	<div class="help__stain help__stain--bottom"></div>
</div>