<div class="journey">
	<div class="journey__layout">
		<div class="journey__stain journey__stain--top"></div>
		<div class="journey__header">
			<h2 class="journey__title section__title">My journey</h2>
		</div>
		<div class="journey__body">
			<div class="journey__list journey-list">

				{# item #}
				<div class="journey-list__item">
					<div class="journey-list__item-period">
						<div class="journey-list__item-period-date">2011-2015</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-cover">
							<div class="journey-list__item-cover-container">
								<div class="journey-list__item-cover-layout">
									<img class="journey-list__item-cover-img" src="/img/4b5967f1abc639d8efe44767ff77adee.png" />
								</div>
							</div>
						</div>
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>I took a bachelor's degree in Applied Mathematics and Computer Science.</p>
								<p>Since 2015 I started working as a developer, tried several positions. But I realized that I did not find any sense in the tasks offered there and, after searching for more useful applications of mathematics, I decided to take up computational biology.</p>
							</div>
						</div>
					</div>
				</div>
				{# item #}

				{# item #}
				<div class="journey-list__item">
					<div class="journey-list__item-period">
						<div class="journey-list__item-period-date">2015-2017</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-cover">
							<div class="journey-list__item-cover-container">
								<div class="journey-list__item-cover-layout">
									<img class="journey-list__item-cover-img" src="/img/b5067a2574654ab68021f172f4fa579d.png" />
								</div>
							</div>
						</div>
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>I entered the master's program at SPbPU in the Laboratory of Systems Biology of the Department of Applied Mathematics.</p>
								<p>In parallel, I studied statistics and machine learning at the St. Petersburg Computer Science Center, and worked as an algorithm developer in the Life Science at Epam Systems.</p>
								<p>After my first semester,I met Harvard professor Peter Kharchenko. He became my supervisor and guided me to single-cell RNA-sequencing and got me an internship in Boston.</p>
							</div>
						</div>
					</div>

				</div>
				{# item #}

				{# item #}
				<div class="journey-list__item">
					<div class="journey-list__item-period">
						<div class="journey-list__item-period-date">2018-2022</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-cover">
							<div class="journey-list__item-cover-container">
								<div class="journey-list__item-cover-layout">
									<img class="journey-list__item-cover-img" src="/img/4075bec8291c3bd66ed6b3a832622f31.jpg" />
								</div>
							</div>
						</div>
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>In order to be able to continue my work with Peter Kharchenko, I enrolled for my PhD in Copenhagen in the laboratory of his collaborator, Konstantin Khodosevich, who was involved in the experimental biology of neurodevelopmental disorders.</p>
								<p>This allowed me to be around experimental biologists, to see their needs and observe all the details of the data production processes. And also to spend time at Harvard Medical School interacting with experts in computational methods and data analysis.</p>
							</div>
						</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-cover">
							<div class="journey-list__item-cover-container">
								<div class="journey-list__item-cover-layout">
									<img class="journey-list__item-cover-img" src="/img/Group-427318707.png" />
								</div>
							</div>
						</div>
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>Parallel to entering graduate school, in 2018 I started working as a Team Lead Data Scientist at a startup called Cleverbots.</p>
								<p>We were optimizing big factories, companies like Russian Railways and pharmaceutical companies. I continued part-time cooperation with them after I moved to Europe until about 2019.</p>
							</div>
						</div>
					</div>

				</div>
				{# item #}

				{# item #}
				<div class="journey-list__item">
					<div class="journey-list__item-period">
						<div class="journey-list__item-period-date">2021-...</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-cover">
							<div class="journey-list__item-cover-container">
								<div class="journey-list__item-cover-layout">
									<img class="journey-list__item-cover-img" src="/img/Mask-group.png" />
								</div>
							</div>
						</div>
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>During my PhD, I began to observe certain problems in science that I was not aware of before. In particular, most people are driven mainly by curiosity and a desire for the novelty of discovery. At the same time, the importance of the problem being studied and the quality of the research are relegated to the background, and often ignored altogether.</p>
								<p>At this point I read 80000 hours that took the issue of the importance of problems as seriously as possible, which led me to the Effective Altruism movement. So, to further my work, I decided to focus on AI Safety and the use of AI to solve complex scientific problems (see Collaborations).</p>
								<p><a href="#">See Collaborations</a></p>
							</div>
						</div>
					</div>
					<div class="journey-list__item-section">
						<div class="journey-list__item-desc">
							<div class="journey-list__item-content">
								<p>To keep up with the practical applications of AI, I started working as an independent AI consultant with a focus on companies solving global problems (see SEADS).</p>
								<p><a href="#">See SEADS</a></p>
							</div>
						</div>
					</div>

				</div>
				{# item #}

			</div>
		</div>
	</div>
</div>