<div class="links">
	<ul class="links__list">
		{%- for key, link in links -%}
			<li class="links__item">
				<a class="links__item-href links__item-href--{{ key }}" href="{{ link.url }}" target="_blank" title="{{ link.title }}"></a>
			</li>
		{%- endfor -%}
	</ul>
</div>