<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ description or metadata.description }}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:site_name" content="{{ title or metadata.title }}">
<meta property="og:url" content="{{ url or metadata.url }}">
<meta property="og:image" content="{{ cover or metadata.cover }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ description or metadata.description }}">
<meta name="twitter:site" content="{{ title or metadata.title }}">
<meta name="twitter:image" content="{{ cover or metadata.cover }}">