<a class="js-scroll-open-source"></a>
<div class="os-projects">
	<div class="os-projects__layout">
		<div class="os-projects__stain os-projects__stain--top"></div>
		<div class="os-projects__header">
			<div class="os-projects__title section__title">My open source projects</div>
		</div>

		<div class="os-projects__body">

			{%- for section in open_source -%}

				<div class="os-projects__section">
					<div class="os-projects__section-title">{{ section.title }}</div>
					
					{%- for project in section.projects -%}
					<div class="os-projects__item">

						<div class="os-projects__item-title">{{ project.title }}</div>

						{% if project.desc %}
						<div class="os-projects__item-summary">

							<div class="os-projects__item-summary-desc">{{ project.desc | safe }}</div>

							{% if project.pub %}
							<div class="os-projects__item-summary-pub">
								<a href="{{ project.pub.link }}" target="_blank">{{ project.pub.title }}</a>
							</div>
							{% endif %}

						</div>
						{% endif %}

						{% if project.lang %}
						<div class="os-projects__item-lang">
							<div class="os-projects__item-lang-label" title="{{ project.lang.title }}"><img src="/img/{{ project.lang.logo_url }}" alt="{{ project.lang.title }}"></div>
						</div>
						{% endif %}

						<div class="os-projects__item-href">
							<a class="os-projects__item-href-link" href="{{ project.link }}" target="_blank"></a>
						</div>
					</div>
					{%- endfor -%}

				</div>

			{%- endfor -%}

		</div>

	</div>
</div>