<div class="page-nav">
	<div class="page-nav__layout">
		<div class="page-nav__title">navigation</div>
		<div class="page-nav__menu">
			<ul class="page-nav__list">
				<li class="page-nav__list-item">
					<a href="#experience" class="js-scroll page-nav__list-link">Work Experience</a>
				</li>
				<li class="page-nav__list-item">
					<a href="#education" class="js-scroll page-nav__list-link">Education</a>
				</li>
				<li class="page-nav__list-item">
					<a href="#open-source" class="js-scroll page-nav__list-link">Open source projects</a>
				</li>
				<li class="page-nav__list-item">
					<a href="#publications" class="js-scroll page-nav__list-link">Publications</a>
				</li>
			</ul>
		</div>
	</div>
</div>