<div class="page-header">
	<div class="page-header__layout">
		<div class="page-header__title section__title">{{ title | safe }}</div>
		<div class="page-header__stain page-header__stain--1"></div>
		<div class="page-header__stain page-header__stain--2"></div>
	</div>
</div>