<div class="popup-menu">
	<div class="popup-menu__layout">

		<div class="popup-menu__header">
			<div class="popup-menu__cover">
				<img class="popup-menu__cover-img" src="/img/ava.jpg" alt="" />
			</div>
			<div class="popup-menu__title">{{ metadata.siteTitle }}</div>
		</div>

		<div class="popup-menu__body">
			{% include "mainmenu.njk" %}
		</div>

		<div class="popup-menu__footer">
			{% include "social.njk" %}
		</div>

	</div>
</div>