<div class="projects">
	<div class="projects__layout">
		<div class="projects__stain projects__stain--top"></div>
		<div class="projects__header section__header">
			<div class="projects__title section__title">Check out completed projects to see how I can be useful to your business</div>
			<div class="projects__desc section__desc">It is important to keep in mind that most of my work is under NDA</div>
		</div>
		<div class="projects__body">
			<div class="projects__list">
				{%- for project in projects -%}
					<div class="projects__item project">
						<a class="project__card" href="{{ project.link }}">
							<div class="project__card-title">
								{{ project.title }}
							</div>
							<ul class="project__card-tags">
								{%- for tag in project.tags -%}
									<li class="project__tag">{{ tag }}</li>
								{%- endfor -%}
							</ul>
							<div class="project__card-text">
								{{ project.desc }}
							</div>
						</a>
					</div>
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>