<a class="js-scroll-publications"></a>
<div class="publications">
	<div class="publications__layout">
		<div class="publications__stain publications__stain--top"></div>
		<div class="publications__header">
			<div class="publications__title section__title">My publications</div>
			<div class="publications__desc section__desc">See <a href="{{ links.scholar.url }}" target="_blank">{{ links.scholar.title }}</a> for more info</div>
		</div>
		
		<div class="publications__body">

			{%- for section in publications -%}

				<div class="publications__section">
					<div class="publications__section-title">{{ section.year }}</div>

					{%- for pub in section.items -%}

						<div class="publications__item">
							<div class="publications__item-title">{{ pub.title }}</div>
							<div class="publications__item-desc">{{ pub.desc }}</div>
							<div class="publications__item-footer">
								<a class="publications__item-link" href="{{ pub.link }}" target="_blank">link</a>
								<a class="publications__item-tag" href="#">bibtex</a>
							</div>
						</div>

					{%- endfor -%}

				</div>

			{%- endfor -%}

		</div>

	</div>
</div>