<div class="relevant-projects">
	<div class="relevant-projects__layout">
		<div class="relevant-projects__stain relevant-projects__stain--top"></div>
		<div class="relevant-projects__header section__header">
			<div class="relevant-projects__title section__title">My relevant projects</div>
		</div>
		<div class="relevant-projects__body">
			<ul class="relevant-projects__list">

				{%- for project in relevant_projects -%}

					<li class="relevant-projects__list-item relevant-project">
						<div class="relevant-project__card">
							<div class="relevant-project__card-title">{{ project.title }}</div>
							{% if project.cover %}
							<div class="relevant-project__card-image">
								<img src="/img/{{ project.cover }}" alt="">
							</div>
							{% endif %}

							{% if project.short %}
							<div class="relevant-project__card-text">{{ project.short }}</div>
							{% endif %}

							{% if project.long %}
							<div class="relevant-project__show-more js-relevant-show-more">Show more ↓</div>
							<div class="relevant-project__card-text relevant-project__short-long">{{ project.long }}</div>
							{% endif %}
						</div>
					</li>

				{%- endfor -%}

			</ul>
		</div>
		<div class="relevant-projects__stain relevant-projects__stain--bottom"></div>
	</div>
</div>