<ul class="social">
	<li class="social__item">
		<a class="social__link" href="{{ metadata.twitter.url }}" target="_blank">{{ metadata.twitter.title }}</a>
	</li>
	<li class="social__item">
		<a class="social__link" href="{{ metadata.linkedin.url }}" target="_blank">{{ metadata.linkedin.title }}</a>
	</li>
	<li class="social__item">
		<a class="social__link" href="{{ metadata.github.url }}" target="_blank">{{ metadata.github.title }}</a>
	</li>
	<li class="social__item">
		<a class="social__link" href="{{ metadata.slides.url }}" target="_blank">{{ metadata.slides.title }}</a>
	</li>
	<li class="social__item">
		<a class="social__link" href="{{ metadata.scholar.url }}" target="_blank">{{ metadata.scholar.title }}</a>
	</li>
	<li class="social__item">
		<a class="social__link" href="{{ metadata.telegram.url }}" target="_blank">{{ metadata.telegram.title }}</a>
	</li>
</ul>