<div class="experience">
	<div class="experience__layout">

		<div class="experience__section experience__section--work">

			<div class="experience__section-title">Work Experience</div>

			<div class="experience__head">
				<div class="experience__head-position">Position</div>
				<div class="experience__head-date">Date</div>
				<div class="experience__head-place">Place</div>
				<div class="experience__head-projects">Projects</div>
			</div>

			<div class="experience__body">

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">Independent AI Consultant</div>
						<div class="experience__item-position-desc">Electronic Data Interchange department Projects</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">09/2021 → 11/2021</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name"></div>
					</div>

					<div class="experience__item-projects">
						<p>— Advising Phystech Ventures on computational biology projects</p>
						<p>— Improving machine learning algorithms for Viaduct.ai</p>
					</div>

				</div>
				<!-- item -->

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">Team Lead, Data Science — Cleverbots</div>
						<div class="experience__item-position-desc">A data science outsource start-up</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">05/2018 → 10/2019</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name">Moscow, Russia</div>
					</div>

					<div class="experience__item-projects">
						<p>— Sales forecast using Bayesian time-series modeling</p>
						<p>— Prediction of personal marketing offers for pharmacy customers</p>
						<p>— Forecasting of client churn</p>
						<p>— Factory production process modeling and optimization</p>
						<p>— People recommendation system for improvement of networking during events</p>
					</div>

				</div>
				<!-- item -->

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">Algorithm Developer — Epam Systems</div>
						<div class="experience__item-position-desc">Enterprise Software Development, Design & Consulting</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">09/2015 → 04/2017</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name">St. Petersburg, Russia</div>
					</div>

					<div class="experience__item-projects">
						<p>— Development of algorithms for whole-genome de-novo assembly and structural variations search using optical maps (languages: Perl, Python, C++)</p>
						<p>— Implementation of different curve-fitting algorithms for dose-response curve analysis (languages: Java, R)</p>
						<p>— Statistical analysis for groups comparison in drug discovery (languages: SAS, R)</p>
					</div>

				</div>
				<!-- item -->
				
			</div>

		</div>

		<div class="experience__section experience__section--education">

			<div class="experience__section-title">Education</div>

			<div class="experience__head">
				<div class="experience__head-position">Degrees</div>
				<div class="experience__head-date">Date</div>
				<div class="experience__head-place">University</div>
				<div class="experience__head-projects">Projects</div>
			</div>

			<div class="experience__body">

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">PhD, Biostatistics and Bioinformatics</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">06/2019 → 12/2021</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name">University Of Copenhagen</div>
					</div>

					<div class="experience__item-projects">
						<p>Principal supervisor: Konstantin Khodosevich, PhD, University Of Copenhagen</p>
						<p>Primary co-supervisor: Peter Kharchenko, PhD, Harvard Medical School</p>
						<p>Thesis: «Case-control analysis of single-cell RNA-seq studies»</p>
						<p>Master, Applied Informatics and Computer Science</p>
					</div>

				</div>
				<!-- item -->

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">Master, Applied Informatics and Computer Science</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">09/2015 → 06/2017</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name">St. Petersburg Polytechnic University</div>
					</div>

					<div class="experience__item-projects">
						<p>Supervisor: Peter Kharchenko, PhD, Harvard Medical School</p>
						<p>Thesis: «Accurate estimation of molecular counts in droplet- based single-cell</p>
						<p>RNA- seq experiments». GPA: 3.6.</p>
					</div>

				</div>
				<!-- item -->

				<!-- item -->
				<div class="experience__item">

					<div class="experience__item-position">
						<div class="experience__item-position-title">Bachelor, Applied Mathematics And Computer Science</div>
					</div>

					<div class="experience__item-date">
						<div class="experience__item-date-period">09/2011 → 06/2015</div>
					</div>

					<div class="experience__item-place">
						<div class="experience__item-place-name">South Ural State University </div>
					</div>

					<div class="experience__item-projects"></div>

				</div>
				<!-- item -->
				
			</div>

		</div>

	</div>
</div>