<div class="form">
	<div class="form__item">
		<input class="form__input form__input--text" type="text" placeholder="Name" />
	</div>
	<div class="form__item">
		<input class="form__input form__input--text" type="text" placeholder="Company" />
	</div>
	<div class="form__item">
		<input class="form__input form__input--phone" type="text" placeholder="Phone" />
	</div>
	<div class="form__item">
		<input class="form__input form__input--e-mail" type="text" placeholder="E-mail" />
	</div>
	<div class="form__item">
		<textarea class="form__input form__input--textarea" placeholder="Request"></textarea>
	</div>
	<div class="form__item">
		<textarea class="form__input form__input--textarea" placeholder="Request"></textarea>
	</div>
	<button class="form__btn">Send</button>
</div>