<div class="hero">
	<div class="hero__layout">
		<div class="hero__summary">
			<h1 class="hero__title">Viktor Petukhov, <span>phd</span></h1>
			<div class="hero__desc">Machine learning generalist who can help you to translate your business needs into technical requirements and bring them to life. Fast.</div>
			<div class="hero__tags hero-tags">
				<div class="hero-tags__group">
					<ul class="hero-tags__list">
						<li class="hero-tags__item">Data Science</li>
						<li class="hero-tags__item">Artificial Intelligence</li>
						<li class="hero-tags__item">Bayesian Statistics</li>
						<li class="hero-tags__item">Natural Language Processing</li>
						<li class="hero-tags__item">Data Visualization</li>
						<li class="hero-tags__item hero-tags__item--light">Biostatistics</li>
					</ul>
				</div>
				<div class="hero-tags__group">
					<ul class="hero-tags__list">
						<li class="hero-tags__item">Python</li>
						<li class="hero-tags__item">Julia</li>
						<li class="hero-tags__item">R</li>
						<li class="hero-tags__item">C++</li>
						<li class="hero-tags__item">2039 citations according to Google Scholar</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hero__cover">COVER</div>
	</div>
</div>