<div class="mainmenu">
	<ul class="mainmenu__list">
		<li class="mainmenu__item">
			<a class="mainmenu__link mainmenu__link--active" href="./index.html">Main page</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="./career.html">Career</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="./collaborators.html">For collaborators</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="./about.html"">About me</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="./contacts.html">Contacts</a>
		</li>
	</ul>
</div>