<div class="mainmenu">
	<ul class="mainmenu__list">
		<li class="mainmenu__item">
			<a class="mainmenu__link mainmenu__link--active" href="#">Main page</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="#">Career</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="#">For collaborators</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="#">About me</a>
		</li>
		<li class="mainmenu__item">
			<a class="mainmenu__link" href="#">Contact</a>
		</li>
	</ul>
</div>