.collab-types {
	z-index: 10;
	padding: 0 0 20px 0;
	@include media('lg') {
		padding: 0 0 200px 0;
	}
	&__layout {
		@include layout();
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		@include media('lg') {
			flex-wrap: nowrap;
		}
	}
}
.collab-type {
	width: 100%;
	list-style: none;
	margin-bottom: 40px;
	@include media('lg') {
		width: 25%;
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 10px;
		@include font('w');
		font-size: 1em;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		@include media('lg') {
			margin-bottom: 20px;
			font-size: 1.8em;
		}
	}

	&__desc {
		font-size: .8em;
		color: fade-out(#fff, .2);
		@include media('lg') {
			font-size: 1em;
		}
	}
}
