.form {
	z-index: 1;
	&__item {
		margin-bottom: 20px;
	}

	&__input {
		width: 100%;
		padding: 8px 20px;
		border: 1px fade-out(#fff, .6) solid;
		background-color: transparent;
		outline: none;
		color: $white;
		font-size: $text-size-small;
		@include rounded(100em);
		@include media('sm') {
			font-size: $text-size-normal;
			padding: 10px 30px;
		}
		&--text {
		}

		&--phone {
		}

		&--e-mail {
		}

		&--textarea {
			@include rounded(20px);
			resize: vertical;
		}
	}

	&__btn {
		@include primary-btn();
	}
}
