.fun-facts {
	background-color: #fff;
	padding: 100px 0;

	&__layout {
		@include layout();
		z-index: 1;
	}

	&__header {
		display: flex;
		justify-content: center;
	}

	&__cover {
		margin: 100px 0 300px;
		width: 300px;
		height: 300px;
	}

	&__cover-img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include rounded(20px);
	}

	&__cover::before {
		position: absolute;
		width: 360px;
		height: 360px;
		bottom: 0;
		left: 0;
		background-image: url('../img/blenda.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
	}

	&__title {
		position: absolute;
		@include font('w');
		font-size: 10em;
		line-height: .8;
		text-transform: uppercase;
		letter-spacing: 5px;
		white-space: nowrap;
		text-align: center;
	}

	&__title span {
		position: relative;
		z-index: 1;
	}


	&__title--first {
		bottom: 0;
		right: 100%;
		margin-right: 30px;
		margin-bottom: -20px;
	}

	&__title--last {
		top: 100%;
		left: -10px;
		margin-top: 40px;
	}

	&__title--last::after {
		position: absolute;
		top: -180px;
		right: -180px;
		width: 500px;
		height: 500px;
		z-index: 0;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .6) 50%);
		filter: blur(80px);
		@include rounded(100%);
		pointer-events: none;
		content: '';
	}




	&__title-cover {
	}

	&__title-cover-img {
	}

	&__title-last {
	}


	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	&__list-item {
		list-style: none;
	}
}
.fun-fact {
	width: 33.3333%;
	margin-bottom: 100px;
	&__layout {
		width: 70%;
	}
	p {
		margin: 0 0 5px 0;
	}
	a {
		@include link($dark, $blue);
		@include font('w');
		border-bottom: 1px $dark solid;
	}
	a:hover {
		border-bottom-color: $blue;
	}
}
