.help {
	padding: 40px 0;
	@include media('sm') {
		padding: 100px 0;
	}

	&::after {
		position: absolute;
		width: 100%;
		height: 400px;
		bottom: 0;
		z-index: 0;
		pointer-events: none;
		background: linear-gradient(0deg, #fff 0%, $dark 100%);
		content: '';
	}

	&__layout {
		@include layout();
		z-index: 10;
	}

	&__stain {
		position: absolute;
		@include rounded(100%);
		pointer-events: none;
	}

	&__stain--top {
		top: -80px;
		left: -200px;
		width: 600px;
		height: 320px;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .6) 50%);
		filter: blur(80px);
	}

	&__stain--bottom {
		bottom: 0;
		left: 50%;
		margin-left: -1500px;
		width: 3000px;
		height: 400px;
		z-index: 1;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out(#3f2264, 0) 40%, fade-out($pink, 0) 100%);
		filter: blur(80px);
	}

	&__header {
		margin-bottom: 40px;
		@include media('sm') {
			margin-bottom: 100px;
		}
	}

	&__title, &__desc {
		color: #fff;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media('sm') {
			flex-wrap: nowrap;
		}
	}

	&__section {
		width: 100%;
		margin-bottom: 40px;
		@include media('sm') {
			width: 44%;
			margin-bottom: 0;
		}
	}

	&__section:last-child {
		margin-bottom: 0;
	}

	&__section-title {
		display: inline-flex;
		padding: 8px 24px;
		color: #fff;
		background-color: $blue;
		border: 1px transparent solid;
		@include font('w');
		font-size: .8em;
		white-space: normal;
		@include rounded(10px);
		@include media('sm') {
			font-size: 1.2em;
			white-space: nowrap;
			@include rounded(100em);
		}
	}

	&__accordion {
		color: #fff;
	}

	&__accordion-item {
		padding: 20px 0;
		border-bottom: 1px #fff solid;
		@include media('sm') {
			padding: 40px 0;
		}
	}

	&__accordion-item.is-open &__accordion-switcher {
		transform: rotate(0);
	}

	&__accordion-item.is-open &__accordion-desc {
		display: block;
		margin-top: 5px;
	}

	&__accordion-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include font('w');
		font-size: .8em;
		line-height: 1.2;
		@include media('sm') {
			font-size: 1.2em;
		}
	}

	&__accordion-switcher {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		margin-right: 0;
		@include icon-stroke('close', #fff, 2);
		transform: rotate(45deg);
		opacity: .5;
		@include ease(.2s);
		cursor: pointer;
		@include media('sm') {
			width: 30px;
			height: 30px;
			margin-right: 20px;
		}
	}

	&__accordion-switcher:hover {
		opacity: 1;
	}

	&__accordion-desc {
		display: none;
		width: 100%;
		font-size: .8em;
		opacity: .6;
		overflow: hidden;
		@include media('sm') {
			width: 80%;
			font-size: 1.2em;
		}
	}

	&__list {
	}

	&__list-item {
		padding: 20px 0;
		border-bottom: 1px #fff solid;
		@include media('sm') {
			padding: 40px 0;
		}
	}

	&__list-title {
		color: #fff;
		@include font('w');
		font-size: .8em;
		@include media('sm') {
			font-size: 1.2em;
		}
	}
}