.jump {
	display: none;
	&__control {
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		z-index: 7000;
		background-color: fade-out(#fff, .6);
		@include rounded(100%);
		@include icon-stroke('arrow', $dark, 1px);
		@include ease(.2s);
		transform: rotate(90deg);
		cursor: pointer;
		@include media('sm') {
			bottom: 30px;
			right: 30px;
			width: 100px;
			height: 100px;
		}
		&::before {
			width: 60%;
			height: 60%;
		}
		&:hover {
			background-color: $blue;
		}
	}
	@include media('md') {
		display: flex;
	}
}
