.os-projects {
	background-color: #fff;
	padding: 0 0 60px 0;

	@include media('lg') {
		padding: 0 0 200px 0;
	}

	&::before {
		position: absolute;
		width: 100%;
		height: 200px;
		top: 0;
		z-index: 0;
		pointer-events: none;
		background: linear-gradient(0deg, #fff 0%, $dark 100%);
		content: '';
	}

	&__stain {
		position: absolute;
		@include rounded(100%);
		pointer-events: none;
	}

	&__stain--top {
		top: -200px;
		left: 50%;
		margin-left: -1500px;
		width: 3000px;
		height: 400px;
		z-index: 1;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out(#3f2264, 0) 40%, fade-out($pink, 0) 100%);
		filter: blur(80px);
	}

	&__layout {
		@include layout();
	}

	&__header, &__body {
		z-index: 10;
	}

	&__title {
		color: #fff;
	}

	&__section {
		margin-top: 40px;
		@include media('lg') {
			margin-top: 100px;
		}
	}

	&__section--personal &__item {
		align-items: center;
	}
	&__section--personal &__item-href {
		width: 100%;
	}

	&__section-title {
		display: inline-flex;
		color: $blue;
		@include font('w');
		font-size: .8em;
		background-color: #fff;
		border: 1px $blue solid;
		padding: 4px 20px;
		@include rounded(100em);
		@include media('lg') {
			margin-bottom: 40px;
			font-size: 1.6em;
			padding: 10px 30px;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 20px 0;
		@include ease(.1s);
		border-bottom: 1px $dark solid;
		@include media('lg') {
			flex-wrap: nowrap;
			padding: 40px;
		}
	}

	&__item:hover {
		background-color: fade-out($dark, .95);
	}


	&__item-title {
		width: 100%;
		@include font('w');
		font-size: 1em;
		@include media('lg') {
			width: 30%;
			padding-right: 40px;
			font-size: 1.2em;
		}
	}

	&__item-summary {
		width: 100%;
		margin-bottom: 20px;
		@include media('lg') {
			width: 45%;
			padding-right: 40px;
			margin-bottom: 0;
		}
	}

	&__item-summary-desc {
		font-size: .8em;
		@include media('lg') {
			font-size: 1em;
		}
	}

	&__item-summary-desc a {
		@include link($blue, $dark);
		margin-bottom: 20px;
	}

	&__item-summary-pub {
		display: inline-flex;
		margin-top: 10px;
		padding: 5px 10px;
		font-size: .8em;
		color: fade-out($dark, .4);
		border: 1px fade-out($dark, .8) solid;
		@include rounded(100em);
	}

	&__item-summary-pub a {
		@include link();
	}

	&__item-lang {
		width: 50%;
		@include media('lg') {
			width: 10%;
		}
	}

	&__item-lang-label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 8px 20px;
		@include rounded(20px);
		border: 1px $dark solid;
		@include media('lg') {
			display: flex;
			width: 100px;
			height: 100px;
			padding: 0;
		}
		img {
			width: 60px;
			height: 60px;
			object-fit: contain;
		}
	}

	&__item-href {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include media('lg') {
			align-items: flex-start;
			width: 15%;
		}
	}

	&__item-href-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 30px;
		@include icon-stroke('arrow', $dark, 2px);
		@include ease(.1s);
		transform: rotate(180deg);
		@include media('lg') {
			width: 100px;
			height: 100px;
		}
		&::before {
			width: 80%;
			height: 80%;
		}
	}

	&__item-href-link:hover {
		transform: rotate(180deg) translateX(-5px);
		@include media('lg') {
			transform: rotate(180deg) translateX(-20px);
		}
	}
	
}