.page-header {

	padding: 40px 0;
	@include media('sm') {
		padding: 100px 0;
	}

	&__layout {
		@include layout();
	}

	&__stain {
		position: absolute;
		pointer-events: none;
	}

	&__stain--1 {
		top: -80px;
		left: -200px;
		width: 600px;
		height: 320px;
		z-index: 0;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .6) 50%);
		@include rounded(100%);
		filter: blur(80px);
	}

	&__stain--2 {
		top: -200px;
		right: -400px;
		width: 900px;
		height: 600px;
		z-index: 0;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .6) 50%);
		filter: blur(120px);
		transform: rotate(135deg);
		@include rounded(300px);
	}

	&__title {
		z-index: 1;
		color: #fff;
		font-size: 1.4em;
		@include media('sm') {
			font-size: 4em;
		}
	}

}
