.request {
	z-index: 10;
	padding: 40px 0;
	@include media('sm') {
		padding: 100px 0;
	}
	
	&__layout {
		@include layout();
	}

	&__stain {
		position: absolute;
		@include rounded(100%);
		pointer-events: none;
	}

	&__stain--top {
		top: -80px;
		left: -200px;
		width: 600px;
		height: 320px;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .6) 50%);
		filter: blur(80px);
	}

	&__stain--bottom {
		bottom: -400px;
		right: -600px;
		width: 1400px;
		height: 1000px;
		z-index: 0;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out($pink, .8) 50%);
		filter: blur(120px);
	}

	&__title, &__desc {
		color: #fff;
	}

	&__header {
		margin-bottom: 20px;
		@include media('sm') {
			margin-bottom: 100px;
		}
	}

	&__desc {
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media('sm') {
			flex-wrap: nowrap;
		}
	}

	&__summary {
		width: 100%;
		display: flex;
		flex-direction: column;
		@include media('sm') {
			width: 50%;
		}
	}

	&__contacts {
		color: #fff;
		@include media('sm') {
			border-left: 1px #fff solid;
			padding-left: 40px;
		}
	}

	&__contacts-title {
		width: 100%;
		font-size: .8em;
		@include media('sm') {
			width: 50%;
			font-size: 1em;
		}
	}

	&__contacts-mail {
		display: flex;
		margin-top: 20px;
	}

	&__contacts-mail-link {
		display: inline-flex;
		padding: 5px 20px;
		@include link(#fff, #fff);
		border: 1px #fff solid;
		font-size: 1em;
		@include rounded(100em);
		@include media('sm') {
			padding: 5px 40px;
			font-size: 1.8em;
		}
		&:hover {
			background-color: $blue;
			border-color: $blue;
		}
	}

	&__contacts-mail-copy {
		display: none;
		margin-left: 10px;
		justify-content: center;
		align-items: center;
		width: 60px;
		border: 1px #fff solid;
		@include rounded(100em);
		@include media('sm') {
			display: flex;
		}
	}

	&__social {
		margin: 20px 0;
		@include media('sm') {
			margin: auto 0 20px;
		}
	}

	&__form {
		width: 100%;
		@include media('sm') {
			width: 40%;
		}
	}
}
