.short-bio {
	z-index: 900;
	color: $white;
	padding: 20px 0;
	@include media('lg') {
		padding: 100px 0 140px;
	}
	&__layout {
		@include layout();
	}

	&__content {
		width: 100%;
		margin-bottom: 40px;
		@include font('r');
		font-size: $text-size-normal;
		@include media('lg') {
			width: 70%;
			font-size: $text-size-normal-lg;

		}
	}

	&__link {
		@include button();
	}
}
