.social {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	&__item {
		list-style: none;
		margin: 0 30px 10px 0;
	}

	&__link {
		display: flex;
		position: relative;
		@include link(#fff, $blue);
		border-bottom: 1px fade-out(#fff, .5) solid;
	}
	&__link:hover {
		border-bottom-color: $blue;
	}
	&__link::after {
		margin-left: 10px;
		content: '→';
	}
	span {
		// position: absolute;
		// top: 3px;
		// right: -40px;
		width: 20px;
		height: 20px;
		color: #fff;
		transform: rotate(180deg);
		@include icon-stroke('arrow', #fff , 1.5);
	}
}
