.steps {
	padding-bottom: 0;
	@include media('sm') {
		padding-bottom: 100px;
	}

	&::after {
		position: absolute;
		width: 100%;
		height: 200px;
		top: -200px;
		z-index: 0;
		pointer-events: none;
		background: linear-gradient(180deg, #fff 0%, $dark 100%);
		content: '';
	}

	&__stain {
		position: absolute;
		@include rounded(100%);
		pointer-events: none;
	}

	&__stain--top {
		top: -200px;
		left: 50%;
		margin-left: -1500px;
		width: 3000px;
		height: 400px;
		z-index: 1;
		background: radial-gradient(fade-out($blue, 0) 0%, fade-out(#3f2264, 0) 40%, fade-out($pink, 0) 100%);
		filter: blur(80px);
	}

	&__layout {
		@include layout();
	}

	&__title, &__desc {
		color: $white;
	}

	&__header {
		z-index: 1;
	}

	&__title {
	}

	&__desc {
	}

	&__body {
		z-index: 1;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media('sm') {

		}
	}

	&__item {
		width: 100%;
		@include media('sm') {
			width: 50%;
		}
		@include media('lg') {
			width: 16%;
		}
	}
}
.step {
	
	@include ease(.2s);
	margin-bottom: 40px;

	@include media('sm') {
		margin-bottom: 0;
	}

	&__number {
		width: 100px;
		height: 100px;
		display: flex;
		align-items: center;
		color: $white;
		@include media('sm') {
			width: 200px;
			height: 200px;
		}
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;
			border: 1px #fff solid;
			@include font('w');
			font-size: $text-size-header;
			@include rounded(100%);
			@include ease(.2s);
		}
	}

	&:hover &__number span {
		width: 80px;
		height: 80px;
		@include media('sm') {
			width: 160px;
			height: 160px;

		}
	}

	&__title {
		margin-bottom: 5px;
		@include font('w');
		color: $white;
		@include media('sm') {
			margin-bottom: 20px;
		}
	}

	&__desc {
		color: $white;
		font-size: $text-size-small;
		width: 80%;
		@include media('sm') {
			font-size: $text-size-normal;
		}
	}
}
