.mainmenu {

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		list-style: none;
	}

	&__link {
		padding-bottom: 8px;
		@include link(#fff, $blue);
		border-bottom: 1px transparent solid;
	}

	&__link--active {
		border-bottom-color: #fff;
	}

	&__link--active:hover {
		border-bottom-color: $blue;
	}

}