.short-bio {
	color: #fff;
	background-color: $dark;
	padding: 100px 0;
	&__layout {
		@include layout();
	}

	&__content {
		width: 70%;
		margin-bottom: 40px;
		@include font('r');
		font-size: 1.2em;
		line-height: 1.2;
	}

	&__link {
		@include primary-btn();
	}
}
