.social {
	margin: 0;
	padding: 0;
	&__item {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin-bottom: 10px;
	}

	&__link {
		position: relative;
		@include link(#fff, $blue);
		border-bottom: 1px fade-out(#fff, .5) solid;
	}
	&__link:hover {
		border-bottom-color: $blue;
	}
	span {
		position: absolute;
		top: 3px;
		right: -40px;
		width: 20px;
		height: 20px;
		color: #fff;
		transform: rotate(180deg);
		@include icon-stroke('arrow', #fff , 1.5);
	}
}
