---
layout: default.njk
permalink: "career/"
pageTitle: 'Career'
title: 'Education, degrees<span class="br"></span>and work experience'
eleventyNavigation:
 key: Career
 order: 2
---

{% include "page-header.njk" %}
{% include "page-nav.njk" %}
{% include "experience.njk" %}
{% include "open-source-projects.njk" %}
{% include "publications.njk" %}
{% include "full-footer.njk" %}