---
layout: default.njk
permalink: "/"
eleventyNavigation:
 key: Main page
 order: 1
---

{% include "hero.njk" %}
{% include "short-bio.njk" %}
{% include "help.njk" %}
{% include "projects.njk" %}
{% include "steps.njk" %}
{% include "full-footer.njk" %}