@mixin icon-fill($icon: 'blank', $color: #000) {

	@include symbol-fill($icon, $color);

}

@mixin symbol-fill(
	$name: 'blank',
	$fill_color: #000000
	) {
	
		$e_fill_color: color-replace($fill_color);
		$header: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' %3E%3C";
		$params: "fill='#{$e_fill_color}'";
		$footer: "/%3E%3C/svg%3E";

		$symbols: (

			blank: "#{$header}path d='m36.77 6.77-3.54-3.54L20 16.46 6.77 3.23 3.23 6.77 16.46 20 3.23 33.23l3.54 3.54L20 23.54l13.23 13.23 3.54-3.54L23.54 20 36.77 6.77z' #{$params} #{$footer}",

			telegram: "#{$header}path d='M8.75 18.89C14.89 16.25 19 14.49 21 13.64c5.85-2.42 7.06-2.84 7.85-2.84a1.47 1.47 0 0 1 .82.23.88.88 0 0 1 .29.55 3.25 3.25 0 0 1 0 .85c-.33 3.3-1.68 11.32-2.4 15-.3 1.57-.89 2.09-1.44 2.15-1.22.1-2.14-.81-3.32-1.56-1.84-1.21-2.89-2-4.69-3.14-2.07-1.37-.73-2.12.46-3.32.29-.33 5.68-5.19 5.77-5.62 0-.06 0-.26-.09-.35a.51.51 0 0 0-.43 0c-.2 0-3.15 2-8.86 5.81a4.09 4.09 0 0 1-2.27.85 13.26 13.26 0 0 1-3.25-.78c-1.31-.43-2.36-.66-2.26-1.37.06-.43.55-.82 1.57-1.21Z' #{$params} #{$footer}",

			twitter: "#{$header}path d='M29.3 15.2v.6c0 6.3-4.8 13.6-13.6 13.6-2.6 0-5.2-.7-7.3-2.1.4 0 .8.1 1.1.1 2.2 0 4.3-.7 5.9-2.1-2 0-3.8-1.4-4.5-3.3.7.1 1.5.1 2.2-.1-2.2-.5-3.8-2.4-3.8-4.7v-.1c.7.4 1.4.6 2.2.6-2.1-1.4-2.8-4.2-1.5-6.4 2.4 3 6 4.8 9.9 5-.4-1.7.1-3.4 1.4-4.6 1.9-1.8 5-1.7 6.8.2 1.1-.2 2.1-.6 3-1.2-.4 1.1-1.1 2.1-2.1 2.6.9-.1 1.9-.4 2.8-.8-.8 1.2-1.6 2.1-2.5 2.7z' #{$params} #{$footer}",

			linkedin: "#{$header}path d='M20.8 18.9zM29.4 8.9H10.6c-.9 0-1.6.7-1.6 1.6v19c0 .9.7 1.6 1.6 1.6h18.7c.9 0 1.6-.7 1.6-1.6v-19c.1-.9-.6-1.6-1.5-1.6zM15.7 27.5h-3.3v-10h3.3v10zM14 16.1c-1.1 0-1.9-.8-1.9-1.7 0-1 .7-1.7 1.9-1.7 1.1 0 1.8.7 1.9 1.7 0 .9-.7 1.7-1.9 1.7zm13.7 11.4h-3.3v-5.3c0-1.3-.5-2.3-1.7-2.3-.9 0-1.5.6-1.7 1.2-.1.2-.1.5-.1.8v5.6h-3.3v-10h3.3v1.4c.4-.7 1.2-1.7 3-1.7 2.2 0 3.8 1.4 3.8 4.5v5.8z' #{$params} #{$footer}",

			github: "#{$header}path d='M20 8.5c-6.5 0-11.8 5.3-11.8 11.8 0 5.2 3.4 9.6 8 11.2.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.5-1.4-1.3-1.7-1.3-1.7-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1 1.8 2.8 1.3 3.4 1 .1-.8.4-1.3.7-1.6-2.6-.3-5.4-1.3-5.4-5.8 0-1.3.5-2.3 1.2-3.2-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.2 1.2.9-.3 1.9-.4 2.9-.4s2 .1 2.9.4c2.2-1.5 3.2-1.2 3.2-1.2.6 1.6.2 2.8.1 3.1.8.8 1.2 1.9 1.2 3.2 0 4.5-2.7 5.5-5.4 5.8.4.4.8 1.1.8 2.2v3.2c0 .3.2.7.8.6 4.7-1.6 8-6 8-11.2.5-6.5-4.8-11.8-11.3-11.8z' #{$params} #{$footer}",

			slides: "#{$header}path d='M9.3 9.3v21.5h21.5V9.3H9.3zm12.6 14.2c-.6.5-1.3.8-2.1.8s-1.5-.1-2.1-.4c-.6-.2-.9-.5-.9-.7 0-.1.1-.3.2-.5s.3-.3.4-.3c0 0 .1.1.3.2.2.1.4.2.8.3.3.1.7.2 1.2.2s.8-.1 1.1-.4c.3-.3.4-.6.4-1.1 0-.4-.1-.8-.4-1-.3-.3-.8-.5-1.6-.7-.8-.2-1.3-.5-1.7-.8-.3-.3-.5-.9-.5-1.6 0-.7.3-1.3.8-1.8s1.2-.7 2.1-.7c.6 0 1.1.1 1.6.2.5.2.7.3.7.5s-.1.3-.2.6c-.1.2-.3.4-.4.4 0 0-.1 0-.2-.1-.4-.2-.8-.3-1.3-.3s-.9.1-1.2.3c-.3.2-.4.5-.4.8 0 .3.1.6.3.8.2.2.6.4 1 .5 1.1.3 1.8.7 2.2 1.1.4.4.6 1 .6 1.8.1.7-.1 1.3-.7 1.9z' #{$params} #{$footer}",

			scholar: "#{$header}path d='M26 25.1c0 3.3-2.7 6-6 6s-6-2.7-6-6 2.7-6 6-6c3.3-.1 6 2.6 6 6zm-7-7.5V8.5L7.9 17.3l5.4 4.4c1.1-2.2 3.2-3.7 5.7-4.1zm2-9.1v9.1c2.5.3 4.6 1.9 5.7 4l5.4-4.4L21 8.5z' #{$params} #{$footer}",

			vkontakte: "#{$header}path d='M21.28 28.82c-9.11 0-14.28-6.25-14.53-16.65h4.57C11.47 19.8 14.83 23 17.5 23.7V12.17h4.3v6.58c2.64-.28 5.4-3.28 6.33-6.58h4.3a12.69 12.69 0 0 1-5.85 8.3 13.15 13.15 0 0 1 6.85 8.35H28.7a8.22 8.22 0 0 0-6.9-5.95v5.95Z' #{$params} #{$footer}",
			
			youtube: "#{$header}path d='M27.83 22.09c1.83-1.05 1.83-2.78 0-3.83l-12.16-7c-1.83-1-3.27-.15-3.27 1.95v14.06c0 2.1 1.44 2.93 3.27 1.87Z' #{$params} #{$footer}",

			whatsapp: "#{$header}path d='M20.4 0C9.5 0 .7 8.7.7 19.5c0 3.7 1 7.1 2.8 10.1L0 40l10.9-3.5c2.8 1.5 6 2.4 9.5 2.4C31.2 39 40 30.2 40 19.5 40 8.7 31.2 0 20.4 0zm0 35.7c-3.3 0-6.4-1-9-2.7l-6.3 2 2-6c-2-2.7-3.1-6-3.1-9.5 0-8.9 7.3-16.2 16.3-16.2s16.3 7.3 16.3 16.2c.1 8.9-7.2 16.2-16.2 16.2zm9.2-11.8c-.5-.3-2.9-1.6-3.4-1.7-.5-.2-.8-.3-1.1.2-.4.5-1.4 1.6-1.7 1.9-.3.3-.6.4-1.1.1-.5-.3-2.1-.9-3.9-2.6-1.4-1.4-2.4-3-2.7-3.5-.3-.5 0-.8.3-1 .2-.2.5-.6.8-.8.3-.3.4-.5.5-.8.2-.3.1-.6 0-.9-.1-.3-1-2.7-1.4-3.7-.4-1-.8-.9-1.1-.9-.3 0-.6-.1-1-.1-.3 0-.9.1-1.4.6-.5.5-1.8 1.6-1.9 4.1-.1 2.4 1.6 4.9 1.9 5.2.2.3 3.3 5.6 8.3 7.8 5 2.2 5 1.5 6 1.5.9 0 3-1.1 3.5-2.2s.5-2.1.4-2.4c-.2-.4-.5-.5-1-.8z' #{$params} #{$footer}",
		);

	background-image: url(map-get($symbols, $name));
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}