<!DOCTYPE html>
<html lang="{{ language or metadata.language }}">
	<head>

		{% include "meta.njk" %}
		{% include "favicon.njk" %}

		{# Analytics #}
		<script defer src="https://cloud.umami.is/script.js" data-website-id="ee831ff7-3594-441c-971d-acfcfdb7ec01"></script>

		<link rel="stylesheet" href="/css/app.css" />

		<title>
			{% if '/' in page.url %}
				{{ metadata.siteTitle }}
			{% else %}
				{{ pageTitle }} → {{ metadata.siteTitle }}
			{% endif %}
		</title>

	</head>
	<body>

		<div class="app">
			{% include "hamburger.njk" %}
			{% include "popup-menu.njk" %}
			{% include "bar.njk" %}
			{{ content | safe }}
			{% include "jump.njk" %}
		</div>

		<script src="/js/app.js"></script>

	</body>
</html>