<!DOCTYPE html>
<html lang="{{ language or metadata.language }}">
	<head>

		{% include "meta.njk" %}
		{% include "favicon.njk" %}

		<link rel="stylesheet" href="/css/app.css" />

		<title>{{ pageTitle }} → {{ metadata.siteTitle }}</title>

	</head>
	<body>

		<div class="app">
			{% include "bar.njk" %}
			{{ content | safe }}
			{% include "jump.njk" %}
		</div>

		<script src="./js/app.js"></script>

	</body>
</html>