::selection {
	background: fade-out($blue, .2);
	color: #fff;
}

::-moz-selection {
	background: fade-out($blue, .2);
	color: #fff;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	// font-smoothing: antialiased;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	@include font();
	font-size: 20px;
	line-height: 1.3;
	color: $dark;
	background-color: $dark;
}

@mixin layout() {
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {

}

.app {
	overflow: hidden;
}

.section {

	&__header {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 2px $blue solid;
	}

	&__title {
		margin: 0;
		@include font('w');
		font-size: 3em;
		line-height: 1;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__desc {
		width: 50%;
		margin-top: 20px;
		font-size: 1.2em;
	}

}